* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;

    --btns_top-bar: #48C5CE;
    --text_color_1: white;
    --text_color_2: black;

    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: black;
}

.container {
    max-width: 1000px;
    margin: auto;
    position: relative;
    background-color: #202121;
}

.top-bar {
    background-color: var(--btns_top-bar);
    text-align: center;
    padding: 10px;
}

.title {
    font-size: 2.6rem;
    color: var(--text_color_1);
}

.opt-in_page {
    background-color: rgba(255, 255, 255, 0.8);
    
    max-width: 230px;    
    padding: 20px;
    float: right;
}

.form-box {
    background-image: url(./img/people.jpg);
    background-size: cover;
    overflow: hidden;

}

.opt-in_page h2, p {
    color: var(--text_color_2);
    margin: 0 0 15px 0;
}

.opt-in_page h2{
    font-size: 1.6rem;    
}


.opt-in_page p{
    font-size: 1.4rem;
}

input, select {
    background-color: aliceblue;

    border: none;
    margin-top: 10px;
    width: 100%;

    padding: 10px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-image: url(./img/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;

}

.btn-submit {
    width: 100%;
    height: 30px;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    background-color: var(--btns_top-bar);
    color: var(--text_color_1);
    margin-top: 10px;
}

.presenter {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 40px;
}

.presenter p, h2 {
    color: var(--text_color_1);
    margin: 10px;
}

.presenter h2 {
    font-size: 2.4rem;
    margin-top: 0;
}

.presenter p {
    font-size: 1.0rem;
    text-align: left;
}

.presenter-img {
    float: left;
    height: 160px;
    margin-right: 20px;
}