* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;

    --btns_top-bar: #48C5CE;
    --text_color_1: white;
    --text_color_2: black;

    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: black;
}

.container {
    max-width: 1000px;
    margin: auto;
    position: relative;
    background-color: rgb(22, 18, 18);
}

.top-bar {
    background-color: var(--btns_top-bar);
    text-align: center;
    padding: 10px;
}

.title {
    font-size: 2.6rem;
    color: var(--text_color_1);
}

header {
    height: 550px;
    background-image: url(./img/people.jpg);
}

.opt-in_page {
    background-color: rgba(255, 255, 255, 0.8);
    
    height: 450px;
    width: 300px;

    position: absolute;
    top: 70px;
    right: 20px;
    
    padding: 15px;
}

.opt-in_page h2, p {
    color: var(--text_color_2);
}

.opt-in_page h2{
    font-size: 1.6rem;
    margin: 0 0 10px 0;
    
}


.opt-in_page p{
    font-size: 1.4rem;

}

input, select {
    background-color: aliceblue;

    border: none;
    display: block;
    margin-top: 10px;
    height: 25px;
    width: 100%;

    padding: 5px;
}

.btn-submit {
    width: 100%;
    height: 30px;
    font-size: 1.6rem;
    border: none;
    background-color: var(--btns_top-bar);
    color: var(--text_color_1);
    margin-top: 10px;


}

.presenter {
    max-width: 500px;
    margin: auto;
    padding: 30px;
    overflow: hidden;
}

.presenter p, h2 {
    color: var(--text_color_1);
    margin: 10px;
}

.presenter h2 {
    font-size: 2.4rem;
}

.presenter p {
    font-size: 1.4rem;
}

.presenter-img {
    float: left;
    height: 250px;
    margin-right: 50px;
}