* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    width: 300px;
    height: 300px;

    margin: auto;

    display: flex;
    flex-wrap: wrap;
}

.board > div {
    display: flex;
    border: solid 3px black;
    background-color: aqua;
    min-width: 100px;
    justify-content: center;
    align-items: center;
}
