@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;

    --topBarFooter: #ff6b28;
    --fontes: #ff6b28;

    font-family: 'lato',Arial, Helvetica, sans-serif;

}

body{
    overflow-x: hidden;
}
header {
    width: 100vw;
}

.top-bar {
    background-color: var(--topBarFooter);
    text-align: center;
    padding: 25px;
}
.top-bar img {
    width: 360px;
}

.banner-container {
    width: 100%;
    
}

.banner {
    width: 100%;
    height: 555px;
    object-fit: cover;
    object-position: top;    
}
.container {
    max-width: 990px;
    padding: 0 40px;
    margin-top: 40px;
    margin: auto;

}

h1, h2 {
    color: var(--fontes);
    font-weight: bolder;
}

h1 {
    font-size: 4.8rem;
    margin-top: 50px;
}

h2 {
    font-size: 3.6rem;
    margin: 10px;
}

.title {
    margin: 50px auto;
    padding: 50px auto;
}


.card {
    margin: 50px auto;
    border-radius: 20px;
    padding: 40px 100px;
}

.card:hover{
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
    transition: 1s;
}

.ingredients{
    cursor: url(./img/cursor_ingredientes.png), auto;

}

.preparation-method {
    cursor: url(./img/cursor_preparo.png), auto;

}
.additional-instructions {
    cursor: url(./img/cursor_intrucoes.png), auto;

}


p, li {
    font-size: 2.0rem;
    line-height: 2.8rem;
    margin: 30px auto;
}




button {
    width: 250px;
    padding: 15px;
    color: white;
    background-color: var(--fontes);
    border: none;
    border-radius: 20px;
    font-size: 2.2rem;
    font-weight: 400;
    margin-left: -40px;
}

footer {
    background-color: var(--topBarFooter);
    color: white;
    text-align: center;
    margin: 0;
    height: 60px;
    padding: 10px;
}

footer p{
    margin: auto;
    font-size: 1.5rem;
}